@{
    ViewBag.Title = "CMS Dashboard - 404";
    ViewBag.NavigationPage = "Configuration";
    ViewBag.CleanHeader = true;
}

<div class="container-fluid fill">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 ">
            <div class="box box-warning">
                <div class="box-body ">
                    <div class="error-page">
                        <h2 class="headline text-yellow"> 401</h2>
                        <div class="error-content">
                            <h3>
                                <i class="fa fa-warning text-yellow"></i>
                                You don't have access to this page
                            </h3>
                            <p>
                                Contact the administrator for more information or to gain access to this page.
                            </p>
                        </div><!-- /.error-content -->
                    </div><!-- /.error-page -->
                </div>
            </div>
        </div>
    </div>
</div>