@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box-body" ng-controller="ForgotPasswordController">
    <p class="login-box-msg">Forgot Password</p>
    <form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" ng-submit="onRequestPasswordResetClick()">
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="text-green">@ViewBag.SubmitResult</div>
        <div class="form-group has-feedback">
            <input asp-for="Email" type="email" class="form-control" placeholder="Email" tabindex="1" ng-model="email">
            <span class="fa fa-user form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <button type="button" onclick="location.href='@Url.Action("Login", "Account")'" class="btn btn-default btn-block btn-flat" tabindex="3">Return</button>
            </div><!-- /.col -->
            <div class="col-xs-4 col-xs-offset-4">
                <button id="loginButton" type="submit" class="btn btn-primary btn-block btn-flat ladda-button pull-right" ladda="processing" data-style="slide-up" tabindex="2" >
                    <span class="ladda-label">Submit</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>
    </form>
</div><!-- /.login-box-body -->

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/Angular/Controllers/Login/ForgotPasswordController.js"></script>
}
